/* ------------------Reset styles------------------------------ */
* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;
  font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}
/* --------------------------------------------- */
[class*="__container"] {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
}
.cssBayan__title {
    font-size: 2rem;
    margin: 30px 0;
    font-weight: 700;
}
.cssBayan__item {
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid black;
}
.cssBayan__hover {
    color:blue;
}
.cssBayan__hover:hover {
    color:black;

}
.cssBayan__item-title {
    justify-content: space-between;
    display: flex;
    margin: 15px 0;
    font-weight: 600;
}
.cssBayan__item-title::after {
    content: "\002b";
    font-size: 1.8rem;
    transition: 0.2s;
}
.cssBayan__item-title:hover:after {
    content: "\00d7";
    font-size: 1.8rem;
    transition: 0.2s;
}
.memes {
    display: none;
    margin-bottom: 15px;
}
.memes img {
    max-width: 400px;
}
.cssBayan__item:hover  .memes  {
    display: block;
    text-align: center;
}

@media( max-width:820px) {
    .memes img {
        max-width: 300px;
    }
    .cssBayan__item {
        font-size: 1.2rem;
    }
    .cssBayan__title {
        font-size: 1.7rem;
    }
    .cssBayan__item-title:hover:after {
        font-size: 1.2rem;
    }
    .cssBayan__item-title::after {
        font-size: 1.2rem;
    }
}
@media( max-width:320px) {
    .memes img {
        max-width: 250px;
    }
    .cssBayan__item {
        font-size: 1rem;
    }
    .cssBayan__title {
        font-size: 1.5rem;
    }
    .cssBayan__item-title::after {
        content: '';
    }
    .cssBayan__item-title:hover:after {
        content: '';
    }
    .memes {
        margin-bottom: 5px;
    }
}